body{
    background-color: #000839;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

h1{
    color: #14fdea;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}